<style>

.gsc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 875px;
	background: url(img/getting_started_bkgd.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

.gsc .gsc-title {
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    margin: 22px 0px;
}

.gsc button {
	width: 281px;
    margin: 5px 26px;
    color: #fff;
    background-color: rgba(106, 133, 210, 0.21);
    border: 1px solid #fff;
}

.gsc button:hover {
    background-color: rgba(106, 133, 210, 0.42);
}

.gsc button.partners-button {
    bottom: 14px;
    position: absolute;
    left: 10px;
    background-color: rgba(255, 148, 148, 0.21)
}

.gsc button.partners-button:hover {
	background-color: rgba(255, 148, 148, 0.42)
}

.partners {
    padding: 5px;
    padding-top: 30px;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.partner-row {
    margin-top: 12px;
}

.partner-row img {
    vertical-align: middle;
}

</style>

<div class="gsc">

	<div class="gsc-title">Coastal Resilience is a web mapping tool that allows you to examine nature’s role in reducing coastal risks and opportunities for habitat conservation in Maine.</div>

	<!--<button class="button button-default launch-plugin" data-plugin-name="0">Explore map</button>-->
	<button class="button button-default launch-plugin" data-plugin-name="future-habitat-v2">View Future Habitat Explorer</button>
    <button class="button button-default launch-plugin" data-plugin-name="regional-planning">Regional Planning</button>
    <button class="button button-default launch-plugin" data-plugin-name="barrier-prioritization-proto">Aquatic Barrier Prioritization</button>


    

    <div class="partners">
        <div class="transparent-backing">
            <div class="partner-row">
                <img src="img/logo-nature-notagline.png" style="width:160px;height:auto;"/>
                <img src="img/logos/dacf-500px-transparent.png" style="width:120px;height:auto;"/>
            </div>
            <div class="partner-row">
                <img src="img/logos/SMALL Box Bowdoin black-00980-sm.jpg" style="width:146px;height:auto;"/>
                <img src="img/logos/IILogo2016_Stacked_BLUE.PNG" style="width:146px;height:auto;"/>
            </div>
            <div class="partner-row">
                <img src="img/logos/MCHT logo rgb lgr lines.png" style="width: 267px;height: auto;"/>
            </div>
            <div class="partner-row">
                <span style="font-size: 19px; color: #000;">Blue Sky Planning Solutions</span>
            </div>
            <div class="partner-row">
                <img src="img/logos/Logo---NOAA.png" />
            </div>
        </div>

    </div>

</div>