<style>

.gsc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 455px;
    background: url(img/getting_started_bkgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gsc .gsc-title {
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    margin: 22px 0px;
}

.gsc button {
    width: 281px;
    margin: 5px 26px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.gsc .partners-button {
    bottom: 14px;
    position: absolute;
    left: 10px;
}

.gsc button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

</style>

<div class="gsc">

    <div class="gsc-title">Coastal Resilience is a web mapping tool that allows you to examine nature’s role in reducing coastal risks and opportunities for habitat conservation in Maine.</div>

    <button class="button button-default launch-plugin" data-plugin-name="0">Explore map</button>
    <button class="button button-default launch-plugin" data-plugin-name="future-habitat-v2">View Future Habitat Explorer</button>
    <button class="button button-default partners-button">View our partners</button>

</div>

<script>

$(".gsc button.partners-button").on('click', function() {
    TINY.box.show({
        animate: true,
        url: 'plugins/future-habitat-v2/partners.html',
        fixed: true,
        width: 360,
        height: 673
    });
})


</script>
