<style>

.gsc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 455px;
	background: url(img/getting_started_bkgd.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

.gsc h2 {
    margin: 53px 0 25px;
	text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
}

.gsc button {
	width: 281px;
    margin: 5px 26px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.gsc button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.gsc .partners {
    position: absolute;
	bottom: 0;
    height: 365px;
    width: 100%;
    color: #fff;
    padding: 5px 15px;
    background: rgba(0,0,0,0.3);
}

.launchpad-plugin .partners img {
    height: auto;
}

</style>

<div class="gsc">

	<h2>Glossier PNR&amp;B man bun try-hard chia biodiesel</h2>

	<button class="button button-default launch-plugin" data-plugin-name="0">Explore map</button>
	<button class="button button-default launch-plugin" data-plugin-name="future-habitat-v2">View Future Habitat Explorer</button>

	<div class="partners">
		<div>Our Partners:</div>

        <img src="img/logos/dacf-500px-transparent.png" style="height: 94px;" />
        <img src="img/logos/Logo---NOAA.png" style="width: 129px;"/>
        <img src="img/logos/SMALL Box Bowdoin black-00980-sm.jpg" style="width: 129px;" />
        <img src="img/logos/IILogo2016_Stacked_BLUE.PNG" style="width: 129px;" />
        <img src="img/logos/MCHT logo rgb lgr lines.png" />
        <img src="img/logos/Blue Sky Planning.PNG" />

	</div>

</div>
